* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
    font-size: 15px;
}

.main-container {
    width: 375px;
    background-color: var(--Very-dark-blue);
    padding: 60px 20px;
}

.container {
    background-color: hsl(244, 38%, 16%);
    overflow: hidden;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.container .img {
    background: url(../images/image-header-mobile.jpg) no-repeat center/cover;
    height: 250px;
    width: 350px;
}

.container .img .overlayer {
    background-color: hsla(277, 64%, 61%, 0.6);
    height: 250px;
    width: 350px;
}

.text {
    color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 15px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.text .main-text h1 span {
    color: var( --Soft-violet);
}

.text .main-text p {
    color: var(--Slightly-transparent-white);
    /* padding: 0 20px; */
    margin: 15px 0;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
}

.status-text {
    display: flex;
    flex-direction: column;
    height: 240px;
    justify-content: space-between;
    margin-top: 25px;
}

.status-text h2 {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.status-text h2 span {
    color: var(--Slightly-transparent-white);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    margin-top: 7px;
}

@media (min-width:768px) {
    .main-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 1200px;
        height: 450px;
    }
    .container .img {
        background: url(../images/image-header-mobile.jpg) no-repeat center/cover;
        height: 450px;
        width: 610px;
    }
    .container .img .overlayer {
        background-color: hsla(277, 64%, 61%, 0.6);
        height: 450px;
        width: 610px;
    }
    .text {
        width: 500px;
        text-align: left;
        padding: 40px 60px;
    }
    .text .main-text p {
        margin: 30px 0;
    }
    .status-text {
        flex-direction: row;
        height: inherit;
        width: 480px;
        padding: 0 60px;
        margin-top: 40px;
    }
    .status-text h2 {
        justify-content: space-between;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}